openapi: "3.0.0"
info:
  version: 1.0.0
  title: Homework Challenge Server
  description: Students as a CPA adversary will attempt to defeat the CPA challenger
  contact:
    name: Brian Vohaska or Daniel Apon
    email: brian@vohaska.com
    url: https://ineedrandom.com
  license:
    name: Apache 2.0
    #identifier: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://ineedrandom.com
  - url: http://localhost:8080
tags:
  - name: CPA Challenger - HW2a
    description: APIs for the CPA game
  - name: Padding Oracle Challenge - HW2b
    description: APIs for the CCA game
  - name: Server Welcome
    description: Default landing page for the server

paths:

  /:
    get:
      summary: Default landing page
      description:
        Ask the encryption oracle to encrypt any 256-bit hex encoded string. Ask as many questions as you'd like
        but please don't overload the server. You will have a unique password given to you by the professor
      tags:
        - Server Welcome
      responses:
        '200':
          description: Welcomes you to the server
          content:
            text/plain:
              schema:
                type: string
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /paddingoracle:
    post:
      summary: The Padding Oracle - POST requests
      description:
        Ask the padding oracle to decrypt a ciphertext.
      tags:
        - Decryption Oracle
      requestBody:
        description: Description of a question to the decryption oracle
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Decryption_oracle_request'
      responses:
        '200':
          description: Successful Decryption Oracle Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decryption_oracle_response'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /oracle:
    post:
      summary: CPA Challenger
      description:
        Ask the encryption oracle to encrypt any 256-bit hex encoded string. Ask as many questions as you'd like
        but please don't overload the server. You will have a unique password given to you by the professor
      tags:
        - Encryption Oracle
      requestBody:
        description: Description of a question to the oracle
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Oracle_request'
            examples:
              oracle_example_1:
                $ref: "#/components/examples/oracle_request_example_1"
              oracle_example_2:
                $ref: "#/components/examples/oracle_request_example_2"
      responses:
        '200':
          description: Successful Oracle Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Oracle_response'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /challenges:
    post:
      summary: The CPA Challenger
      description: Attempt to defeat the CPA challenger; submit 10 sets of 2 messages receive 10 challenges
      tags:
        - CPA Challenger
      requestBody:
        description: Challenge API request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Challenge_request'
            examples:
                challenge_example:
                  $ref: "#/components/examples/challenge_request"
      responses:
        '200':
          description: Challenge API response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge_response'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /decision:
    post:
      summary: Make a decision about challenges
      description:
        Convince the CPA challenger that you can distinguish between valid ciphertexts and random strings. You 
        must submit 10 challenges from the challenges API and submit if they are ciphertexts or random strings.
      tags:
        - CPA Challenger
      requestBody:
        description: Description of a decision request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Decision_request'
            examples:
              decision_example_1:
                $ref: "#/components/examples/decision_example_1"

      responses:
        '200':
          description: Decision Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision_response'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
components:

  schemas:
    Password:
      description: 128-bit hex encoded string given by the professor
      type: string
      minLength: 32
      maxLength: 32
      example: 
        35dea77adb321f771d52673752756176

    Message:
      description: 256-bit hex encoded string
      type: string
      minLength: 64
      maxLength: 64
      example: 
        6b7f198df6f89a5291f6daccdd619ed17bd9868daa359a9ee958a24bc31b7204
      
    Ciphertext:
      description: Data structure for a ciphertext returned from an Encryption Oracle
      type: object
      required:
        - random_nonce
        - c1
        - c2
      properties:
        random_nonce:
          type: string
          minLength: 32
          maxLength: 32
          example: e6dad2d3c0b4e907220b7c02859f7e7d
        c1:
          type: string
          minLength: 32
          maxLength: 32
          example: ebff8f9cea9b301a06337c7caae647ff
        c2:
          type: string
          minLength: 32
          maxLength: 32
          example: e62ef5f18369247bf1120da57f8464ad
      example:
        random_nonce: 46dad2d3c0b4e907220b7c02859f7e7a
        c1: aaff8f9cea9b301a06337c7caae647ff
        c2: eb2ef5f18369247bf1120da57f8464ad

    Decision:
     type: object
     required:
       - ciphertext
       - decision
     properties:
        ciphertext: 
          $ref: "#/components/schemas/Ciphertext"
        decision:
          type: integer
          example: 1
     example:
      ciphertext:
        random_nonce: bbdad2d3c0b4e907220b7c02859f7e7a
        c1: bbff8f9cea9b301a06337c7caae647ff
        c2: bb2ef5f18369247bf1120da57f8464ad
      decision:
        1

    Oracle_request:
      type: object
      required:
        - oracle_message
      properties:
        password:
          $ref: "#/components/schemas/Password"
        oracle_message:
          $ref: "#/components/schemas/Message"
  
    Oracle_response:
      type: object
      required:
        - ciphertext
      properties:
        ciphertext:
          $ref: "#/components/schemas/Ciphertext"

    Challenge_request:
      type: object
      required:
        - messages
        - password
      properties:
        password:
          $ref: "#/components/schemas/Password"
        messages:
          type: array
          items:
            type: array
            items:
              $ref: "#/components/schemas/Message"
            minItems: 2
            maxItems: 2
          minItems: 10
          maxItems: 10        
    
    Challenge_response:
      type: object
      required:
        - ciphertexts 
      properties:
        ciphertexts:
          type: array
          items:
            $ref: "#/components/schemas/Ciphertext"
          minItems: 10
          maxItems: 10
    
    Decision_request:
      type: object
      required:
        - decisions
        - password
      properties:
        password:
          $ref: "#/components/schemas/Password"
        decisions:
          type: array
          items:
            $ref: "#/components/schemas/Decision"
            minItems: 10
            maxItems: 10
 
    Decision_response:
      type: object
      required:
        - success  
      properties:
        success:
          type: string
        proof_of_completion:
          type: string 

    Decryption_oracle_request:
      type: object
      required:
        - ciphertext
        - iv
      properties:
        ciphertext:
          type: string
        iv:
          type: string

    Decryption_oracle_response:
      type: string
    
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

  examples:

    oracle_request_example_1:
      value:
        password: 35dea77adb321f771d52673752756176
        oracle_message: 6b7f198df6f89a5291f6daccdd619ed17bd9868daa359a9ee958a24bc31b7204

    oracle_request_example_2:
      value:
        password: 35dea77adb321f771d52673752756176
        oracle_message: 109bebc3fc393dbf3db129c3b91958b11cca2a3d376c598d3cf0ce55656db4c0
    
    challenge_request:
      value:
        password: 35dea77adb321f771d52673752756176
        messages: [
          [
            "b4635db79385988d2fae58307165ac31bdc14366b8f18af9d2ec71d59fdee841", 
            "e3c00f29744096dd52076f91e9fc63cef3e3db307d14941df91c457b98395d96"
          ], 
          [
            "e91cc7eb7878c23ba1e1e9298db00e8cbe2d3af2bda52ebd16f38c6a0b79407c", 
            "2de1d771bcccdf9894b4aa58138e853786addf7c200d3a348505268d1aefdafb",
          ],
          [
            "1d01d2ce838900c59cdb6eee851b6c9dcc90a93d4a6df42a14fa055874fb70e2", 
            "2bd2f34711013bf59dcf29993bba0698777380f12113a36cbed36a0da472f5c2", 
          ],
          [
            "83223f454b20c78b38c4a402498f20f2e850a32ac72df5053d39fe249f860107", 
            "6f95f6f9a283a46e94b4535c9fe6e0de27e2e472b389ea6646732206eedde334"
          ], 
          [
            "2fe907c86803473ee995a1753ec0f84c3af0dccdc60e99c8df3b5b073de9714c", 
            "8b0e07add1379ee5285eeb162ad945d2f1c41fd4f6688ba9c0b82012a1723a64", 
          ],
          [
            "3c36d32820c8683c4a4fbbe29859455cfbee415123ed7724e5c6f65a71dc3d6d", 
            "f6e9d7c694b8df7f5ccb119f68bae8b90a57c415a6e1ea728a0199a52de51bc4", 
          ],
          [
            "e565efe9901db9b034fbe8de1e4ba638a710432c476d30b50bce071b8e1af8b2", 
            "df14868115cbe044d8556630a05b708ff90af25de3987b51a337bd242fe1ce9f",
          ],
          [
            "0c723401ad1dbad000c4ab820dd78e6b230cd673252edf34933753d477e5cbb6", 
            "8b0320551ee0a54b965052b92befbfb2030c88dc3adf1cba98fa4985966caf5c", 
          ],
          [
            "4a4c71f40732ca86760c0176cb6a97d548054e69371acee0f8a1c639c9035147", 
            "9b2b2da8605a14449bd6a7718e6da61cf01da749f17ad94040e22aff177f1cf6", 
          ],
          [
            "43e84f8be0f7aa154757c5fa298a4347f682007d32003f92181abc18243cfa7c", 
            "7dd9a613df2a912ee7015e5b8d1cc37b09930f2e19131db7d8ded5260006ec33"
          ]
        ]

    decision_example_1:
      value:
        password: 35dea77adb321f771d52673752756176
        decisions:
          - ciphertext: 
                random_nonce: 8c5301042b48d4c2936a1e9d5a01f554
                c1: 38fbf264b6f11780e2cee8b0cb859015
                c2: d0df1c09adc60b1b6ed5dee2da459a5f
            decision: 1
          - ciphertext: 
                random_nonce: 1f7aa76bf6ee0b805852ab4c068c1909
                c1: 4f32825fb8294f84beb5245ed28b1e8d
                c2: e27f1fe9a074368d0ddb677adf5e2bba
            decision: 2  
          - ciphertext: 
                random_nonce: 11c9faad5319374653a86de6da7256aa
                c1: 2936bdf1e5f45ecfdaadc8fee44beac0
                c2: 7f214966c183b079c62b429f5bdfc065
            decision: 2  
          - ciphertext: 
                random_nonce: 1006f9d3a20ed1ed12e603aee4338ced
                c1: 056f0c2720f02dece8804d369b2502ce
                c2: 35f4ad82a67f773a0bea3ab28cfa8938
            decision: 1  
          - ciphertext: 
                random_nonce: 44f5ada164e70aeabaa939b6012cf462
                c1: 2d49ffdacfdb68f7e0b622215a412bc7
                c2: b3a2736ba887ef82647f46560da88d20
            decision: 2  
          - ciphertext: 
                random_nonce: 84eaf49615d3e5e5c73ca9e5ea499454
                c1: cbe3a5efa9f28e026887517fe90f4bd9
                c2: 1d36ca790374751985ca8a0ecc58ea86
            decision: 2  
          - ciphertext: 
                random_nonce: a97de9dd09f40ffe2602f75aacb68508
                c1: 4e46955d744402094ecf6b9aee51100d
                c2: 89682ee3f761c3456bfa5b1e57d2bbd3
            decision: 1  
          - ciphertext: 
                random_nonce: e0d85f8e702c9878e49c04090629f3ec
                c1: cbc115c9d6d0c0c7f09a96a97afdd62b
                c2: 306f6b68bc06b15035f3b185b871351f
            decision: 1  
          - ciphertext: 
                random_nonce: f677ee463df4416cca17884ea03db22d
                c1: d740797a77d1d079e946920523d3d6f1
                c2: 4cba9ccc97daa6df917815136ab0fdba
            decision: 2  
          - ciphertext: 
                random_nonce: cf1e4521b253a307711c4d35eb01920d
                c1: 84efd793b3146daaedc55b539830a3a9
                c2: 019659ddf1a7b3c6cebbdca57ba60470
            decision: 2
  

    